<!DOCTYPE html>
<html lang="<%= htmlHead.lang %>">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Personal portfolio page">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Márton Spiteller">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <script src="assets/icons.js"></script>
    <title>
        <%= htmlHead.title %>
    </title>
</head>

<body>
    <main>
        <!--<header> </header>-->
        <section id="hero">
            <h1>
                <%= hero.name %>
            </h1>
            <h2>
                <%= hero.title %>
            </h2>

        </section>
        <section id="about">
            <h2 id="about__title">
                <%= about.sectionTitle %>
            </h2>
            <div id="about__body">
                <p>
                    <%= about.sectionBio %>
                </p>
                <ul id="toolsAndLanguages__list">
                    <% about.toolsAndLanguages.forEach(item=>{ %>
                        <li class="about__item">
                            <p class="about-item-name">
                                <%= item.name %>
                            </p>
                            <span class="about-item__logo" id="<%=item.logo%>"></span>
                        </li>
                        <% }) %>
                </ul>

            </div>
            <button onclick="scrollToSection('contact')">
                <%= hero.cta %>
            </button>
        </section>
        <section id="projects">
            <h2>
                <%= projects.sectionTitle %>
            </h2>
            <div id="project__cards-warpper">
                <% projects.projects.forEach(project=>{ %>
                    <% if(project.isPublic){ %>
                        <div class="project__card">
                            <h3>
                                <%= project.name %>
                            </h3>
                            <p>
                                <%= project.description %>
                            </p>
                            <div>
                                <% project.pictures.forEach(picture=>{ %>
                                    <span>
                                        <%= picture %>
                                    </span>
                                    <% }) %>
                            </div>
                            <div class="project-card-item-wrapper">
                                <% project.stack.forEach(item=>{ %>
                                    <p class="card__item">
                                        <%= item.name %>
                                    </p>
                                    <% }) %>
                            </div>
                            <a href="<%= project.link %>">
                                <%= project.link %>
                            </a>
                            <br>
                            <a href="<%= project.github %>">
                                <%= project.github %>
                            </a>
                        </div>
                        <% }%>
                            <% }) %>
            </div>
        </section>
        <section id="contact">
            <h2>Contact</h2>
            <div>
                <p>linkedin</p>
                <p>email</p>
            </div>
        </section>

    </main>
    <footer>
        <h1>
            <%= footer.initials %>
        </h1>
        <button onclick="scrollToSection('hero')">back to top</button>
        <div>
            <a href="/en">en</a>
            <a href="/hu">hu</a>
        </div>
        <button>color theme switcher</button>
        <p>© 2025 Spiteller Márton</p>
    </footer>
    <script>
        const body = document.getElementsByTagName("body")[0];
        window.addEventListener("load", setGrayscale);
        function setGrayscale() {
            setTimeout(() => { body.style.filter = "grayscale(0)"; }, 1300);
            //body.style.filter = "grayscale(0)";
        }

        function scrollToSection(section) {
            const sectionElement = document.getElementById(section);
            sectionElement.scrollIntoView({ behavior: "smooth" });
        }

        const aboutListItems = document.getElementsByClassName("about__item");
        for (const element of aboutListItems) {
            //console.log(element.children[1].id)
            element.children[1].innerHTML = icons[element.children[1].id];
        }
    </script>
</body>

</html>