<!DOCTYPE html>
<html lang="<%= htmlHead.lang %>">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Personal portfolio page">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Márton Spiteller">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/style.css">
    <script src="assets/icons.js"></script>
    <title>
        <%= htmlHead.title %>
    </title>
</head>

<body>

    <!--<header> </header>-->
    <section id="hero">
        <h1 id="authorName">
            <%= hero.name %>
        </h1>
        <h2>
            <%= hero.title %>
        </h2>

    </section>
    <section id="about">
        <h2 id="about__title">
            <%= about.sectionTitle %>
        </h2>
        <div id="about__body">
            <p>
                <%= about.sectionBio %>
            </p>
            <ul id="toolsAndLanguages__list">
                <% about.toolsAndLanguages.forEach(item=>{ %>
                    <li class="about__item">
                        <p class="about-item-name">
                            <%= item.name %>
                        </p>
                        <span class="about-item__logo" id="<%=item.logo%>"></span>
                    </li>
                    <% }) %>
            </ul>
        </div>
        <button id="hero-btn" onclick="scrollToSection('contact')">
            <%= hero.cta %>
        </button>
    </section>
    <section id="projects">
        <h2>
            <%= projects.sectionTitle %>
        </h2>
        <div id="project__cards-warpper">
            <% projects.projects.forEach(project=>{ %>
                <% if(project.isPublic){ %>
                    <div class="project__card">
                        <h3 class="project-card-title">
                            <%= project.name %>
                        </h3>
                        <p class="project-card-description">
                            <%= project.description %>
                        </p>
                        <div style="display: none;">
                            <% project.pictures.forEach(picture=>{ %>
                                <span>
                                    <%= picture %>
                                </span>
                                <% }) %>
                        </div>
                        <div class="project-card-tools-wrapper">
                            <% project.stack.forEach(item=>{ %>
                                <p class="card__item">
                                    <%= item.name %>
                                </p>
                                <% }) %>
                        </div>
                        <div class="project-card-links">
                            <a href="<%= project.link %>">
                                <%= project.link %>
                            </a>
                            <a href="<%= project.github %>">
                                <%= project.github %>
                            </a>
                        </div>
                    </div>
                    <% }%>
                        <% }) %>
        </div>
    </section>
    <section id="contact">
        <h2>
            <%= contact.sectionTitle %>
        </h2>
        <div>
            <p>email</p>
            <p>linkedin</p>
        </div>
    </section>


    <footer>
        <div id="footer-top">
            <h1>
                <%= footer.initials %>
            </h1>
            <div>
                <a href="/en">en</a>
                <a href="/hu">hu</a>
            </div>
        </div>
        <div id="footer-controls">
            <button onclick="scrollToSection('hero')">
                <%= footer.backToTopButton %>
            </button>
            <button aria-label="color theme switcher">theme</button>
        </div>
        <p>© 2025 <%= hero.name %>
        </p>
    </footer>
    <script>
        const root = document.querySelector(":root");
        const body = document.getElementsByTagName("body")[0];
        const heroName = document.getElementById("authorName");

        window.addEventListener("load", onPageLoad);

        function onPageLoad() {
            setTimeout(() => {
                heroName.style.textShadow = `2px 3px 0 ${getComputedStyle(root).getPropertyValue("--color-accent")}`;
            }, 900);
            setTimeout(() => {
                body.style.filter = "grayscale(0)";
            }, 1300);
        }

        function scrollToSection(section) {
            const sectionElement = document.getElementById(section);
            sectionElement.scrollIntoView({ behavior: "smooth" });
        }

        const aboutListItems = document.getElementsByClassName("about__item");
        for (const element of aboutListItems) {
            //console.log(element.children[1].id)
            element.children[1].innerHTML = icons[element.children[1].id];
        }
    </script>
</body>

</html>