<!DOCTYPE html>
<html lang="<%= htmlHead.lang %>">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Personal portfolio page">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Márton Spiteller">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/style.css">
    <script src="assets/icons.js"></script>
    <title>
        <%= htmlHead.title %>
    </title>
</head>

<body data-color-scheme="">
    <!--<div id="page-loader">
        <p>loading...</p>
    </div>-->
    <section id="hero">
        <div id="page-controls">
            <div id="page-controls-lang">
                <a href="/en">en</a>
                <a href="/hu">hu</a>
            </div>
            <button id="color-mode-button" aria-label="theme switcher">
                <span id="color-mode-button-light">light</span>
                <span id="color-mode-button-dark">dark</span>
            </button>
        </div>
        <h1 id="authorName">
            <%= hero.name %>
        </h1>
        <h2>
            <%= hero.title %>
        </h2>

    </section>
    <section id="about">
        <h2 id="about__title">
            <%= about.sectionTitle %>
        </h2>
        <div id="about__body">
            <p>
                <%= about.sectionBio %>
            </p>
            <ul id="toolsAndLanguages__list">
                <% about.toolsAndLanguages.forEach(item=>{ %>
                    <li class="about__item">
                        <p class="about-item-name">
                            <%= item.name %>
                        </p>
                        <span class="about-item__logo" id="<%=item.logo%>"></span>
                    </li>
                    <% }) %>
            </ul>
        </div>
        <button id="hero-btn" onclick="scrollToSection('contact')">
            <%= hero.cta %>
        </button>
    </section>
    <section id="projects">
        <h2>
            <%= projects.sectionTitle %>
        </h2>
        <div id="project__cards-warpper">
            <% projects.projects.forEach(project=>{ %>
                <% if(project.isPublic){ %>
                    <div class="project__card">
                        <h3 class="project-card-title">
                            <%= project.name %>
                        </h3>
                        <p class="project-card-description">
                            <%= project.description %>
                        </p>
                        <div style="display: none;">
                            <% project.pictures.forEach(picture=>{ %>
                                <span>
                                    <%= picture %>
                                </span>
                                <% }) %>
                        </div>
                        <div class="project-card-tools-wrapper">
                            <% project.stack.forEach(item=>{ %>
                                <p class="card__item">
                                    <%= item.name %>
                                </p>
                                <% }) %>
                        </div>
                        <div class="project-card-links">
                            <a href="<%= project.link.url %>" target="_blank">
                                <%= project.link.text %>
                            </a>
                            <a href="<%= project.github.url %>" target="_blank">
                                <%= project.github.text %>
                            </a>
                        </div>
                    </div>
                    <% }%>
                        <% }) %>
        </div>
    </section>
    <section id="contact">
        <h2>
            <%= contact.sectionTitle %>
        </h2>
        <div>
            <p>email</p>
            <p>linkedin</p>
        </div>
    </section>


    <footer>
        <div id="footer-top">
            <div>
                <h1>
                    <%= footer.initials %>
                </h1>
                <div>
                    <a href="/en">en</a>
                    <a href="/hu">hu</a>
                </div>
            </div>
            <button id="back-to-top-button" onclick="scrollToSection('hero')"
                aria-label="<%= footer.backToTopButton %>">
                <svg fill="var(--color-secondary)" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 8 8" enable-background="new 0 0 8 8"
                    xml:space="preserve">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <rect x="0.016" y="1.68" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 6.2428 2.2389)"
                            width="5.283" height="1.466"></rect>
                        <rect x="3.161" y="1.604" width="1.683" height="6.375"></rect>
                        <rect x="2.709" y="1.674" transform="matrix(0.7073 0.7069 -0.7069 0.7073 3.2674 -3.0786)"
                            width="5.284" height="1.465"></rect>
                    </g>
                </svg>
            </button>
        </div>
        <p>© 2025 <%= hero.name %>
        </p>
    </footer>
    <script>
        const pageLoader = document.querySelector("#page-loader");
        const body = document.querySelector("body");
        const heroName = document.querySelector("#authorName");

        let documentColorScheme = body.getAttribute("data-color-scheme");
        let storedColorScheme = localStorage.getItem("colorScheme");

        if (!storedColorScheme) {
            localStorage.setItem("colorScheme", "light");
            storedColorScheme = localStorage.getItem("colorScheme");
            body.setAttribute("data-color-scheme", storedColorScheme);
        } else {
            body.setAttribute("data-color-scheme", storedColorScheme);
        }

        const colorModeButton = document.querySelector("#color-mode-button");
        colorModeButton.addEventListener("click", handleColorModeChange);
        function handleColorModeChange() {
            storedColorScheme = localStorage.getItem("colorScheme");
            storedColorScheme === "dark" ? localStorage.setItem("colorScheme", "light") : localStorage.setItem("colorScheme", "dark");
            newColorScheme = storedColorScheme === "dark" ? "light" : "dark";
            body.setAttribute("data-color-scheme", newColorScheme);
        }

        window.addEventListener("load", onPageLoad);
        function onPageLoad() {
            //pageLoader.remove();
            heroName.style.textShadow = `2px 3px 0 ${getComputedStyle(body).getPropertyValue("--color-accent")}`;
            body.style.filter = "grayscale(0)";
        }

        function scrollToSection(section) {
            const sectionElement = document.getElementById(section);
            sectionElement.scrollIntoView({ behavior: "smooth" });
        }

        const aboutListItems = document.getElementsByClassName("about__item");
        for (const element of aboutListItems) {
            element.children[1].innerHTML = icons[element.children[1].id];
        }
    </script>
</body>

</html>