<%- include("./partials/htmlHeader") %>
    <main><!-- TODO: check if 'main' tag is needed-->
        <% content.map((item)=>{ %>
            <% if(item.type==="h1" ){ %>
                <h1>
                    <%= item.content %>
                </h1>
                <% } else if(item.type==="p" ) {%>
                    <p>
                        <%= item.content %>
                    </p>
                    <% } else { %>
                        <span>
                            <%= item.content %>
                        </span>
                        <% } %>
                            <% }) %>
    </main>

    <%- include("./partials/footer") %>